In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

seeds= pd.read_csv('./data/seeds_dataset.txt', sep='\t')
seeds.head(5)

      f1     f2      f3     f4     f5     f6     f7  t1
0  15.26  14.84  0.8710  5.763  3.312  2.221  5.220   1
1  14.88  14.57  0.8811  5.554  3.333  1.018  4.956   1
2  14.29  14.09  0.9050  5.291  3.337  2.699  4.825   1
3  13.84  13.94  0.8955  5.324  3.379  2.259  4.805   1
4  16.14  14.99  0.9034  5.658  3.562  1.355  5.175   1

In [2]:
seeds.describe()

,f1,f2,f3,f4,f5,f6,f7,t1
count,210.000000,210.000000,210.000000,210.000000,210.000000,210.000000,210.000000,210.000000
mean,14.847524,14.559286,0.870999,5.628533,3.258605,3.700201,5.408071,2.000000
std,2.909699,1.305959,0.023629,0.443063,0.377714,1.503557,0.491480,0.818448
min,10.590000,12.410000,0.808100,4.899000,2.630000,0.765100,4.519000,1.000000
25%,12.270000,13.450000,0.856900,5.262250,2.944000,2.561500,5.045000,1.000000
50%,14.355000,14.320000,0.873450,5.523500,3.237000,3.599000,5.223000,2.000000
75%,17.305000,15.715000,0.887775,5.979750,3.561750,4.768750,5.877000,3.000000
max,21.180000,17.250000,0.918300,6.675000,4.033000,8.456000,6.550000,3.000000

In [3]:
seeds['t2'] = seeds['t1']
seeds['t3'] = seeds['t1']
seeds['t1'] = seeds['t1'].apply(lambda x: 1 if x==1 else 0)
seeds['t2'] = seeds['t2'].apply(lambda x: 1 if x==2 else 0)
seeds['t3'] = seeds['t3'].apply(lambda x: 1 if x==3 else 0)
seeds.describe()

,f1,f2,f3,f4,f5,f6,f7,t1,t2,t3
count,210.000000,210.000000,210.000000,210.000000,210.000000,210.000000,210.000000,210.000000,210.000000,210.000000
mean,14.847524,14.559286,0.870999,5.628533,3.258605,3.700201,5.408071,0.333333,0.333333,0.333333
std,2.909699,1.305959,0.023629,0.443063,0.377714,1.503557,0.491480,0.472531,0.472531,0.472531
min,10.590000,12.410000,0.808100,4.899000,2.630000,0.765100,4.519000,0.000000,0.000000,0.000000
25%,12.270000,13.450000,0.856900,5.262250,2.944000,2.561500,5.045000,0.000000,0.000000,0.000000
50%,14.355000,14.320000,0.873450,5.523500,3.237000,3.599000,5.223000,0.000000,0.000000,0.000000
75%,17.305000,15.715000,0.887775,5.979750,3.561750,4.768750,5.877000,1.000000,1.000000,1.000000
max,21.180000,17.250000,0.918300,6.675000,4.033000,8.456000,6.550000,1.000000,1.000000,1.000000

In [4]:
seeds.head()

      f1     f2      f3     f4     f5     f6     f7  t1  t2  t3
0  15.26  14.84  0.8710  5.763  3.312  2.221  5.220   1   0   0
1  14.88  14.57  0.8811  5.554  3.333  1.018  4.956   1   0   0
2  14.29  14.09  0.9050  5.291  3.337  2.699  4.825   1   0   0
3  13.84  13.94  0.8955  5.324  3.379  2.259  4.805   1   0   0
4  16.14  14.99  0.9034  5.658  3.562  1.355  5.175   1   0   0

In [5]:
min_max_scaler = preprocessing.MinMaxScaler()
seeds_scaled = min_max_scaler.fit_transform(np.array(seeds))
pd.DataFrame(seeds_scaled).describe()

,0,1,2,3,4,5,6,7,8,9
count,210.000000,210.000000,210.000000,210.000000,210.000000,210.000000,210.000000,210.000000,210.000000,210.000000
mean,0.402032,0.444067,0.570767,0.410773,0.448043,0.381633,0.437751,0.333333,0.333333,0.333333
std,0.274759,0.269826,0.214423,0.249473,0.269219,0.195498,0.241989,0.472531,0.472531,0.472531
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.158640,0.214876,0.442831,0.204533,0.223806,0.233575,0.258986,0.000000,0.000000,0.000000
50%,0.355524,0.394628,0.593013,0.351633,0.432644,0.368474,0.346627,0.000000,0.000000,0.000000
75%,0.634089,0.682851,0.723004,0.608530,0.664113,0.520570,0.668636,1.000000,1.000000,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [16]:
pd.DataFrame(seeds_scaled).head(5)

,0,1,2,3,4,5,6,7,8,9
0,0.440982,0.502066,0.570780,0.486486,0.486101,0.189302,0.345150,1.0,0.0,0.0
1,0.405099,0.446281,0.662432,0.368806,0.501069,0.032883,0.215165,1.0,0.0,0.0
2,0.349386,0.347107,0.879310,0.220721,0.503920,0.251453,0.150665,1.0,0.0,0.0
3,0.306893,0.316116,0.793103,0.239302,0.533856,0.194243,0.140817,1.0,0.0,0.0
4,0.524079,0.533058,0.864791,0.427365,0.664291,0.076701,0.322994,1.0,0.0,0.0

In [ ]:
# train network
from neuron_network import NeuronNetwork

network = NeuronNetwork(7, 0.5)
network.add_layer(10)
network.add_layer(5)
network.add_layer(5)
network.add_layer(3)

expected = seeds_scaled[0][7:10]
expected

for epoch in range(2000):
    for tr in range(147):
        
        expected = np.array(seeds_scaled[tr][7:10])
       
        inputs = np.array(seeds_scaled[tr][0:7])
        output = network.feed(inputs)
        network.backpropagate_error(expected)
        network.update_weights()
    
print(np.array(seeds_scaled[4][7:10]))
print(network.feed(np.array(seeds_scaled[4][0:7])))

In [18]:
# print(network)

print(np.array(seeds_scaled[4][7:10]))
print(network.feed(np.array(seeds_scaled[4][0:7])))

neuron: [ 0.44098206  0.50206612  0.5707804   0.48648649  0.48610121  0.18930164
  0.34515017]
{
	{ -3.71203970335 -3.05429916784 -0.854640006773 2.26959188012 -2.5549888125 0.578105214706 -4.08064246362 } b: 4.39155269264 z: -0.703517661956 o: 0.33103277884 d:0.000241387695456
	{ 1.56618051836 2.08396617579 -0.474554436975 -15.5802475475 -0.821016715457 11.1898369127 12.2035137999 } b: -2.7997076699 z: -2.98200544234 o: 0.0482454596774 d:0.000929488743742
	{ -2.8896921941 -2.7115750791 -0.403020377509 2.75522301067 -1.15918899476 0.785443118201 -2.25538913618 } b: 2.74878550457 z: 0.0301903029873 o: 0.507547002526 d:0.000226438164966
	{ -2.78452312497 -0.507388097832 4.20246891801 4.05821765853 2.50597540516 -1.16495847143 -12.5722818307 } b: 2.6060371724 z: 2.15462888703 o: 0.896100537329 d:-0.00189754537257
	{ -6.98131752722 -5.33454052747 1.5306030457 13.5060349047 -3.18562285965 -5.88659442829 -10.8547913482 } b: 8.21452816095 z: 3.49233180071 o: 0.97046879652 d:-3.07503240769e-05
	{ -4.18023752894 -4.08369283915 -1.09981844099 6.95941700633 -2.60176946803 -0.389503230316 -5.62993492051 } b: 6.95216372104 z: 2.53474778727 o: 0.926542151437 d:1.43192512191e-05
	{ 3.40821758865 2.5655514053 2.22665217517 0.418680894532 2.27645800696 -2.77753553553 2.04480866618 } b: -2.4310041676 z: 3.12121010514 o: 0.957759211909 d:-0.0009343665782
}
{
	{ -0.991533188202 -4.79661768436 0.0804548868822 3.01408355727 3.5757503785 0.248326807764 0.315154388913 } b: -1.07676462548 z: 5.1074283351 o: 0.9939847762 d:-0.00037789289762
	{ -2.63317056571 -2.65415823965 -2.34132544957 6.23941313982 1.88611272914 -1.04869488573 4.37906180238 } b: -0.513546909613 z: 7.94238530535 o: 0.999644768405 d:-0.000476735295039
	{ 2.29633269119 -2.3540251879 1.73284471327 2.53760518864 3.57180029625 1.92027871028 -2.62672200707 } b: -1.37251707336 z: 5.15729550749 o: 0.994275707094 d:-3.60798157104e-07
	{ -5.453900411 8.08923598951 -3.53574197923 -4.84603380147 -7.02912146488 -5.92107470067 5.13306860963 } b: 2.11756723696 z: -12.8260969939 o: 2.68964946421e-06 d:1.54124942949e-09
	{ 3.2315846349 2.33173642949 1.45970914124 -6.05022801909 -2.27155913678 2.71126112194 -4.2915120692 } b: -0.474035542933 z: -7.77513575093 o: 0.000419874074955 d:0.000575440147693
}
{
	{ 2.1851667038 5.49503288207 2.22197583408 -9.72977374131 -7.06471072306 } b: -2.49951577816 z: 7.37185166666 o: 0.999371692067 d:-0.000319437486889
	{ -3.57460673775 -0.0276820804515 -4.43180963662 8.44453987967 -0.591087384119 } b: -0.225502132482 z: -8.21294518718 o: 0.000271047555352 d:-7.28936842822e-07
	{ -3.20219312838 -6.27309664556 1.68110806962 -2.84551986897 6.71204870924 } b: -0.317817447299 z: -8.09732143438 o: 0.000304260674721 d:0.000257504970233
}

[ 1.  0.  0.]
[  9.99371692e-01   2.71047555e-04   3.04260675e-04]

In [7]:
sumTrue = 0
errors = np.array([])
count = 0
for i in range(147,210):
    count +=1
    inputs = np.array(seeds_scaled[i][0:7])
    raw_output = network.feed(inputs)

    raw_output = network.feed(inputs)
    output = [(1.0 if x > 0.5 else 0.0) for x in raw_output.tolist()]
    expected = np.array(seeds_scaled[i][7:10])

    errors = np.append(errors, np.sum(np.abs(expected - raw_output)))
#     print(output, expected)
    if output[0] == expected[0] and output[1] == expected[1] and output[2] == expected[2]  :
        sumTrue += 1
        
#     if expected == 1:
#         print(i)

precision = sumTrue / count
promError = np.mean(np.abs(errors))
print('prec: ', str(precision), 'error: ', str(promError))

prec:  0.6666666666666666 error:  0.618744419461