In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

seeds= pd.read_csv('./data/seeds_dataset.txt', sep='\t')
seeds.head(5)

      f1     f2      f3     f4     f5     f6     f7  t1
0  15.26  14.84  0.8710  5.763  3.312  2.221  5.220   1
1  14.88  14.57  0.8811  5.554  3.333  1.018  4.956   1
2  14.29  14.09  0.9050  5.291  3.337  2.699  4.825   1
3  13.84  13.94  0.8955  5.324  3.379  2.259  4.805   1
4  16.14  14.99  0.9034  5.658  3.562  1.355  5.175   1

In [2]:
seeds.describe()

,f1,f2,f3,f4,f5,f6,f7,t1
count,210.000000,210.000000,210.000000,210.000000,210.000000,210.000000,210.000000,210.000000
mean,14.847524,14.559286,0.870999,5.628533,3.258605,3.700201,5.408071,2.000000
std,2.909699,1.305959,0.023629,0.443063,0.377714,1.503557,0.491480,0.818448
min,10.590000,12.410000,0.808100,4.899000,2.630000,0.765100,4.519000,1.000000
25%,12.270000,13.450000,0.856900,5.262250,2.944000,2.561500,5.045000,1.000000
50%,14.355000,14.320000,0.873450,5.523500,3.237000,3.599000,5.223000,2.000000
75%,17.305000,15.715000,0.887775,5.979750,3.561750,4.768750,5.877000,3.000000
max,21.180000,17.250000,0.918300,6.675000,4.033000,8.456000,6.550000,3.000000

In [3]:
seeds['t2'] = seeds['t1']
seeds['t3'] = seeds['t1']
seeds['t1'] = seeds['t1'].apply(lambda x: 1 if x==1 else 0)
seeds['t2'] = seeds['t2'].apply(lambda x: 1 if x==2 else 0)
seeds['t3'] = seeds['t3'].apply(lambda x: 1 if x==3 else 0)
seeds.describe()

,f1,f2,f3,f4,f5,f6,f7,t1,t2,t3
count,210.000000,210.000000,210.000000,210.000000,210.000000,210.000000,210.000000,210.000000,210.000000,210.000000
mean,14.847524,14.559286,0.870999,5.628533,3.258605,3.700201,5.408071,0.333333,0.333333,0.333333
std,2.909699,1.305959,0.023629,0.443063,0.377714,1.503557,0.491480,0.472531,0.472531,0.472531
min,10.590000,12.410000,0.808100,4.899000,2.630000,0.765100,4.519000,0.000000,0.000000,0.000000
25%,12.270000,13.450000,0.856900,5.262250,2.944000,2.561500,5.045000,0.000000,0.000000,0.000000
50%,14.355000,14.320000,0.873450,5.523500,3.237000,3.599000,5.223000,0.000000,0.000000,0.000000
75%,17.305000,15.715000,0.887775,5.979750,3.561750,4.768750,5.877000,1.000000,1.000000,1.000000
max,21.180000,17.250000,0.918300,6.675000,4.033000,8.456000,6.550000,1.000000,1.000000,1.000000

In [4]:
seeds.head()

      f1     f2      f3     f4     f5     f6     f7  t1  t2  t3
0  15.26  14.84  0.8710  5.763  3.312  2.221  5.220   1   0   0
1  14.88  14.57  0.8811  5.554  3.333  1.018  4.956   1   0   0
2  14.29  14.09  0.9050  5.291  3.337  2.699  4.825   1   0   0
3  13.84  13.94  0.8955  5.324  3.379  2.259  4.805   1   0   0
4  16.14  14.99  0.9034  5.658  3.562  1.355  5.175   1   0   0

In [5]:
min_max_scaler = preprocessing.MinMaxScaler()
seeds_scaled = min_max_scaler.fit_transform(np.array(seeds))
pd.DataFrame(seeds_scaled).describe()

,0,1,2,3,4,5,6,7,8,9
count,210.000000,210.000000,210.000000,210.000000,210.000000,210.000000,210.000000,210.000000,210.000000,210.000000
mean,0.402032,0.444067,0.570767,0.410773,0.448043,0.381633,0.437751,0.333333,0.333333,0.333333
std,0.274759,0.269826,0.214423,0.249473,0.269219,0.195498,0.241989,0.472531,0.472531,0.472531
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.158640,0.214876,0.442831,0.204533,0.223806,0.233575,0.258986,0.000000,0.000000,0.000000
50%,0.355524,0.394628,0.593013,0.351633,0.432644,0.368474,0.346627,0.000000,0.000000,0.000000
75%,0.634089,0.682851,0.723004,0.608530,0.664113,0.520570,0.668636,1.000000,1.000000,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [16]:
pd.DataFrame(seeds_scaled).head(5)

,0,1,2,3,4,5,6,7,8,9
0,0.440982,0.502066,0.570780,0.486486,0.486101,0.189302,0.345150,1.0,0.0,0.0
1,0.405099,0.446281,0.662432,0.368806,0.501069,0.032883,0.215165,1.0,0.0,0.0
2,0.349386,0.347107,0.879310,0.220721,0.503920,0.251453,0.150665,1.0,0.0,0.0
3,0.306893,0.316116,0.793103,0.239302,0.533856,0.194243,0.140817,1.0,0.0,0.0
4,0.524079,0.533058,0.864791,0.427365,0.664291,0.076701,0.322994,1.0,0.0,0.0

In [25]:
# train network
from neuron_network import NeuronNetwork

network = NeuronNetwork(7, 0.5)
network.add_layer(10)
network.add_layer(5)
network.add_layer(5)
network.add_layer(3)

expected = seeds_scaled[0][7:10]
expected

for epoch in range(2000):
    for tr in range(210):
        
        expected = np.array(seeds_scaled[tr][7:10])
       
        inputs = np.array(seeds_scaled[tr][0:7])
        output = network.feed(inputs)
        network.backpropagate_error(expected)
        network.update_weights()
    
print(np.array(seeds_scaled[4][7:10]))
print(network.feed(np.array(seeds_scaled[4][0:7])))

[ 1.  0.  0.]
[ 0.99492804  0.00347284  0.00521049]

In [24]:
# print(network)

print(np.array(seeds_scaled[200][7:10]))
print(network.feed(np.array(seeds_scaled[200][0:7])))

[ 1.  0.  0.]
[ 0.99777224  0.00125703  0.00141362]

In [26]:
sumTrue = 0
errors = np.array([])
count = 0
for i in range(147,210):
    count +=1
    inputs = np.array(seeds_scaled[i][0:7])
    raw_output = network.feed(inputs)
    output = [(1.0 if x > 0.5 else 0.0) for x in raw_output.tolist()]
    expected = np.array(seeds_scaled[i][7:10])

    errors = np.append(errors, np.sum(np.abs(expected - raw_output)))
#     print(output, expected)
    if output[0] == expected[0] and output[1] == expected[1] and output[2] == expected[2]  :
        sumTrue += 1
        
#     if expected == 1:
#         print(i)

precision = sumTrue / count
promError = np.mean(np.abs(errors))
print('prec: ', str(precision), 'error: ', str(promError))

prec:  1.0 error:  0.00873873402866

In [31]:
seeds_scaled.shape

(210, 10)

In [32]:
print(network)

neuron: [ 0.16147309  0.19214876  0.54718693  0.19369369  0.24518888  0.63346292
  0.26784835]
{
	{ 8.70803872228 9.89847830358 -2.11902936749 8.86046148483 7.78927929291 1.87054608312 -8.90920307035 } b: -5.84048252089 z: -1.26722703487 o: 0.219732307512 d:-3.1384150637e-09
	{ 2.56506314816 -0.805013765619 6.93903151717 -26.4677347045 4.15152763492 12.0583338081 21.0365557149 } b: -10.0056284726 z: 3.21521442563 o: 0.961402825705 d:7.894512761e-09
	{ 5.81827863617 4.53437198455 7.99942890335 2.90564336137 6.77126922364 -5.53437865562 -18.665316332 } b: -1.24300677389 z: -1.3373075924 o: 0.20795317269 d:-2.1622947487e-08
	{ 9.61992992923 8.52061772783 -7.48703221887 -10.1765956561 3.03823006951 7.77339013459 15.3481890895 } b: -13.3027347831 z: -6.40001565248 o: 0.00165877515909 d:1.33196308239e-10
	{ 3.20538849941 5.0071665253 -0.515713610853 4.78747372582 4.21104519499 -0.560673084913 -6.63675187008 } b: -3.55342717938 z: -2.52891783372 o: 0.0738556337086 d:-1.05188740626e-10
	{ -3.34589022034 -3.67119930597 -0.445877947723 -0.475066081695 -4.52903816559 0.342855857288 -1.67780658784 } b: 1.95582850394 z: -0.968536060797 o: 0.27517239249 d:-3.87590997393e-09
	{ -3.67178684251 -3.55250407396 0.737758964338 -1.28617547788 -3.07450567796 -1.99340135633 3.26043373782 } b: 1.64784724706 z: -0.616367439492 o: 0.35060807076 d:-2.29318013226e-09
	{ 1.44414977334 0.0165433581038 -0.0658238186502 0.627187390998 0.401591489404 -0.0307154683204 -3.06336944711 } b: -1.91775031927 z: -2.33742569744 o: 0.088070448351 d:-7.24081941234e-10
	{ -7.13519458019 -6.24776845601 -1.48621705607 0.380173650989 -7.73969882614 3.79339816272 -2.94798747221 } b: 8.52403789814 z: 5.14746913451 o: 0.994219507537 d:3.00141927827e-10
	{ -3.29633649032 -3.62483913701 0.664797783964 -3.29004542357 -3.45900056864 -1.17380776954 -2.73967917351 } b: 0.813707421299 z: -3.01405367497 o: 0.0467949980428 d:-2.34290040706e-09
}
{
	{ -1.78849451539 -8.63529001323 3.95836477735 -10.7408568332 0.735262395926 3.79153108585 2.70903134662 -0.484868885491 5.53579770472 1.5210499551 } b: 4.08734815898 z: 3.77741294193 o: 0.977630053407 d:6.3743367141e-10
	{ -2.08026887496 -2.88634373732 0.888494251007 -6.25704311198 0.380297198595 2.99124038222 1.53231341923 -0.105774782274 5.95058362768 2.84309414055 } b: 3.16646043932 z: 7.5371538958 o: 0.999467371655 d:4.32053752252e-09
	{ -0.00142181383753 -5.22475096497 3.08214054537 -2.58769141935 -0.0407036907231 0.945977002854 0.583617101088 0.14145337119 -0.339217838607 1.65074153158 } b: -0.788041716147 z: -4.96042722884 o: 0.00696113526024 d:-4.27861644807e-08
	{ 4.61009223556 -3.88868680872 3.12250763473 -2.0099367955 3.02834030993 -3.28678453728 -3.74556439969 1.23056985534 -4.76648490765 -2.83066344134 } b: -0.465935255905 z: -9.30255601017 o: 9.1182533592e-05 d:-1.74885639107e-09
	{ 6.33000730894 -13.5016473812 11.1050876696 -2.85771791328 3.42420014619 1.68457214839 -0.0427064328774 1.62962967742 -4.93651959523 3.60496375814 } b: -0.885158441836 z: -14.0644719633 o: 7.79609453768e-07 d:-2.77486203371e-11
}
{
	{ -1.41162424741 2.96712369802 -3.34378473849 -6.64159787886 -7.63819709425 } b: 4.0157264495 z: 5.57733539458 o: 0.996231623059 d:7.46245480415e-07
	{ -4.42375679032 -1.77123740946 -2.31914448239 0.594684257466 0.232814637278 } b: 1.52831564025 z: -4.58286541725 o: 0.0101220502298 d:2.11162595458e-07
	{ -5.9500999828 -3.84538529446 -2.3440120446 2.09006812378 -0.307597950643 } b: 2.04073877593 z: -7.63572156828 o: 0.000482656980563 d:4.01420335901e-09
	{ -5.51550249258 -5.58229460124 -0.642049723704 1.49520817526 1.03558615225 } b: 2.9010520483 z: -8.07472251175 o: 0.000311212757194 d:1.37184257216e-08
	{ 0.288600451278 0.868405363238 -0.434522551319 -1.96098822574 -4.08504718995 } b: 1.0026765376 z: 2.14955707525 o: 0.895627379983 d:7.33288109161e-06
}
{
	{ -7.53948728536 -3.67658533224 -4.168401198 -4.69815012674 -3.85402087959 } b: 5.35607124193 z: -5.64745964979 o: 0.00351407161242 d:-1.23058226608e-05
	{ -2.42237893407 2.72368625424 4.36171486907 5.58711668533 1.07374468422 } b: -5.70097323719 z: -7.12113531285 o: 0.000807196975543 d:-6.51040785219e-07
	{ 8.63565765828 -1.85209760742 -3.31919409625 -0.833862240458 2.62291597784 } b: -5.27538539171 z: 5.65627665274 o: 0.996516668325 d:1.20918053062e-05
}